<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="~/Scripts/bootStrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/animate.css" rel="stylesheet" />

    <link href="~/Scripts/assets/css/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Mobile/content/css/common.css")" />*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/assets/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/layer/layer.mobile.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/resize.js")"></script>
    <style>
        .w640 {
            position: relative;
            max-width: 640px;
            min-width: 320px;
            margin: 0 auto;
            overflow: hidden;
            overflow-x: hidden;
            overflow-x: hidden !important;
            /*margin-bottom:70px;*/
        }
        .one-bg {
                    background-color: #CC33FF;
                    color: #ffffff;
         }
        .two-bg {
                    background-color: #3366FF;
                    color: #ffffff;
         }
            .shadow {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 110;
    }

    .loading {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 50;
        display: none;
    }

        .loading .loadCon {
            position: absolute;
            width: 3.125rem;
            height: 3.125rem;
            background: rgba(0,0,0,0.9) url(../Images/loading.gif) center center no-repeat;
            background-size: 1.125rem 1.125rem;
            top: 50%;
            left: 50%;
            margin-top: -1.5625rem;
            margin-left: -1.5625rem;
            border-radius: 0.5rem;
        }

    .alert {  display: none;   position: fixed;   width: 16.875rem;   max-width: 580px;   min-width: 290px;   left: 0; 
        right: 0;
        margin: 0 auto;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0 auto;
        background: #fff;
        border-radius: 0.5rem;
        z-index: 120;
    }

        .alert p {
            width: 12.875rem;
            margin: 0 auto;
            color: #222222;
            text-align: center;
            padding: 1.25rem 0;
            font-size: 0.8125rem;
        }

        .alert .alertBtn {
            border-top: 1px solid #ededed;
            display: flex;
            display: box;
            display: -webkit-box;
        }

            .alert .alertBtn a {
                display: block;
                -webkit-box-flex: 1;
                box-flex: 1;
                text-align: center;
                color: #288efd;
                font-size: 1.125rem;
                height: 2.75rem;
                line-height: 2.75rem;
            }

                .alert .alertBtn a.cancel {
                    border-right: 1px solid #ededed;
                }
    </style>
    @RenderSection("style", false)
    <script type="text/javascript">
        var sharedata = { title: "", desc: "", link: "", imgUrl: "" };
        //日期格式化
        Date.prototype.Format = function (fmt) { //author: meizz 
            var o = {
                "M+": this.getMonth() + 1, //月份 
                "d+": this.getDate(), //日 
                "H+": this.getHours(), //小时 
                "m+": this.getMinutes(), //分 
                "s+": this.getSeconds(), //秒 
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度 
                "S": this.getMilliseconds() //毫秒 
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
</head>
<body class="gray-bg">
    <section class="w640">
        @RenderBody()
    </section>
        @*<div class="bottomNav">
            <div class="w640">
                <ul class="clearfloat">
                    <li>
                        <a href="progress.html">
                            <i class="i01">&nbsp;</i>
                        </a>
                    </li>
                    <li>
                        <a href="change.html">
                            <i class="i02">&nbsp;</i>
                        </a>
                    </li>
                    <li>
                        <a href="pay.html">
                            <i class="i03">&nbsp;</i>
                        </a>
                    </li>
                    <li class="cur">
                        <a href="#">
                            <i class="i04">&nbsp;</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>*@
        @RenderSection("script", false)

        <script src="~/Scripts/bootStrap/js/bootstrap.min.js"></script>
        <script src="~/Scripts/assets/js/content.js"></script>
        @RenderSection("wxscripts", false)
</body>
</html>