<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="~/Scripts/bootStrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/animate.css" rel="stylesheet" />
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Mobile/content/css/common.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/layer/layer.mobile.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/resize.js")"></script>
    <!--baidu map scripts-->
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=ank5Sj4q5nZfPqBTYCAGC12N"></script>
    @RenderSection("style", false)
    <script type="text/javascript">
        var sharedata = { title: "", desc: "", link: "", imgUrl: "" };
    </script>
</head>
<body>
    @RenderBody()
    @RenderSection("script", false)
    <!--wenxin jssdk-->
    <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/wxapi.common.js")"></script>
    <script type="text/javascript">wxjsapi.config();</script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/wxapi.js")"></script>
    <script src="~/Scripts/bootStrap/js/bootstrap.min.js"></script>
    @RenderSection("wxscripts", false)
</body>
</html>