<!doctype html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link href="~/Scripts/bootStrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Scripts/assets/css/animate.css" rel="stylesheet" />

    <link href="~/Scripts/assets/css/style.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Mobile/content/css/common.css")" />*@
    <script type="text/javascript" src="@Url.Content("~/Scripts/assets/js/jquery.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/layer/layer.mobile.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/resize.js")"></script>

    @RenderSection("style", false)
    <script type="text/javascript">
        var sharedata = { title: "", desc: "", link: "", imgUrl: "" };
    </script>
</head>
<body class="gray-bg">
    @RenderBody()
    @RenderSection("script", false)

    <script src="~/Scripts/bootStrap/js/bootstrap.min.js"></script>
    <script src="~/Scripts/assets/js/content.js"></script>
    @RenderSection("wxscripts", false)
</body>
</html>