@using DataProvider.Models
@using DataProvider.Paging
@{
    ViewBag.Title = "学员课程表";
}
@model StudentScheduleListViewModel
@section styles{
    <style type="text/css">
    </style>
}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <!-- 数据显示区 -->
                <div class="ibox-content">
                    <!-- 功能操作区 -->
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal form-horizontal" }))
                    {
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">学生姓名：</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(t => t.search.Name, new { @class = "form-control input-sm", @type = "text", @placeholder = "请输入学生姓名" })
                              
                            </div>
                            <div class="form-group form-horizontal"> 
                                <label class="col-sm-2 control-label">上课日期:</label>
                                <div class="input-daterange input-group col-sm-3" id="datepicker">
                                   @Html.TextBoxFor(t => t.search.timeStart, new { @class = "input-sm form-control", @type = "text", @value = DateTime.Now })
                                    <span class="input-group-addon">到</span>
                                   @Html.TextBoxFor(t => t.search.timeEnd, new { @class = "input-sm form-control", @type = "text", @value = DateTime.Now })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="btn-group">


                                </div>
                            </div>
                            <div class="col-sm-8 project-actions">
                                <button type="submit" class="btn btn-w-m btn-primary btn-sm">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                            </div>
                        </div>
                    }
                    <!-- 数据列表 -->
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>学员姓名</th>
                                <th>班级</th>
                                <th>上课日期</th>
                                <th>签到时间</th>
                                <th>出勤状态</th>
                                <th>老师评语</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                         <!-- 循环数据 -->
                            <tbody>

                            @if (Model != null && Model.AttendanceRecordlist.Count() > 0)
                            {
                                foreach (var m in Model.AttendanceRecordlist)
                                {
                                <tr>
                                    <td class="jz">@m.Name</td>
                                    <td>@m.ClassName</td>
                                    <td>@m.ClassDate</td>
                                    <td>@m.ClockTime</td>
                                    <td>@m.AttendanceTypeIDName</td>
                                    <td>@m.Evaluate</td>
                                    <td>@m.Remark</td> 
                                    <td>
                                        <a href="javascript:tiaozheng('@m.ID','@m.Name','@m.ClassDate','@m.CourseID');" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i>调整</a>

                                      
                                    </td>


                                </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" style="text-align: center; color: red;">未查询到数据,请更换查询条件试试!</td>
                                </tr>
                            }
                        </tbody>  
                    </table>
                    @if (Model != null && Model.AttendanceRecordlist.TotalPageCount > 0)
                    {
                        <div class="row">
                            <div class="dataTables_info col-sm-6">每页显示 @Model.search.PageSize 条，共<span>@Model.AttendanceRecordlist.TotalItemCount</span>条数据</div>
                            <div class="col-sm-6">

                                @Html.Pager(Model.AttendanceRecordlist, new PagerOptions(), "", new RouteValueDictionary {
                                   { "pageindex",  Model.search.CurrentPage },
                                   { "pagesize", ViewBag.PageSize }
                               }, null)
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@*弹出层，调整*@
<div class="ibox float-e-margins" id="jiaru" style="display:none">
    <div class="ibox-content">
        <form class="form-horizontal">
            <div class="form-group ">
                <label class="col-xs-3 control-label">姓名：</label>
                <div class="col-xs-8">
                    <input type="text" placeholder="姓名" class="form-control input-sm" disabled="disabled" id="Name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">原上课日期：</label>
                <div class="col-xs-8">
                    <div class="DateS input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control input-sm" disabled="disabled" id="ClassDate">
                    </div>

                </div>
            </div>
        
            <div class="form-group">
                <label class="col-sm-3 control-label">本次调整到班级：</label>
                <div class="col-sm-8">
               <select data-placeholder="请选择..." id = "ClassID" class="form-control input-sm" style="width:100%;height:100%;" ><option value="">请选择</option></select>
                </div>
            </div>

            <div class="form-group ">
                <label class="col-xs-3 control-label">备注：</label>
                <div class="col-xs-8"> 
                    <textarea class="form-control input-sm" placeholder="备注" id="remark"> </textarea>
                </div>
            </div>

        </form>
    </div>
</div>
<script type="text/javascript">
    function tiaozheng(id, Name, ClassDate, CourseID) {
        $('#Name').val(Name);
        $('#ClassDate').val(ClassDate);
        loadClassesCom(CourseID);//根据课程ID获取班级课程相同的数据
        layer.open({
            type: 1,
            title: "<h3 class='ibox-title'>调整</h3>",
            area: ['600px', '370px'],
            content: $('#jiaru'),
            btn: ['调整', '取消'],
            yes: function () { 
                    save(id); 
            },
            cancel: function (index) {
                layer.close(index);
            }
        });
      
    }
     

    //保存 
    function save(id) {
        var obj = new Object;
        
        obj.ID = id;  
        obj.Remark = $("#remark").val().trim();
        obj.ClassID = $('#ClassID').val();
        if (!obj.ClassID) {
            layer.msg("请选择本次调整班级！");
            return false;
        }
          
        var  action = '@Url.Action("SaveAttendanceRecord", "Teach")'; 
        $.post(action, {
            "data": JSON.stringify(obj)//序列化对象
        }, function (json) {
            if (json.status == 200) {//成功

                layer.msg(json.msg);//弹出服务器返回的消息
                setTimeout(function () {//操作
                    layer.closeAll();//关闭所有层
                    window.location.reload(); //刷新
                }, 3000);
            }
        }, 'json');
    }


     
     

    //加载班级课程相同的
    function loadClassesCom(CourseID) {
        //重新激活选择框
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        var v = CourseID;
         $.post('@Url.Action("GetClassesItems", "Teach")', {"CourseID":CourseID}, function (json) {
     
 
            for (var i = 0; i < json.length; i++) {
                $("#ClassID").append("<option data-did = '11' value='" + json[i].id + "'>" + json[i].name + "</option>");
            }
        }, 'json').error(function () { alter("ERRPR!") });
    }

</script>