@using DataProvider.Models
@using DataProvider.Paging
@{
    ViewBag.Title = "报名管理";
}
@model EnrollManageListModel
@section styles{
    <style type="text/css">
    </style>
}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <!-- 数据显示区 -->
                <div class="ibox-content">
                    <!-- 功能操作区 -->
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal form-horizontal" }))
                    {
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">学生姓名：</label>
                            </div>

                            <div class="col-sm-4">
                                @Html.TextBoxFor(t => t.search.Name, new { @class = "form-control input-sm", @type = "text", @placeholder = "请输入学生姓名", @id = "Name" })
                            </div>
                            <label class="col-sm-2 control-label">联系电话：</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(t => t.search.BindPhone, new { @class = "form-control input-sm", @type = "text", @placeholder = "请输入联系电话", @id = "BindPhone" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-2">
                                <label class="control-label">报名日期:</label>
                            </div>

                            <div class="col-sm-4">
                                <div class="input-daterange input-group" id="datepicker">
                                    @Html.TextBoxFor(t => t.search.timeStart, new { @class = "input-sm form-control", @type = "text", @id = "timeStart", @value = DateTime.Now })

                                    <span class="input-group-addon">到</span>
                                    @*<input type="text" class="input-sm form-control" name="end" value="2014-11-17">*@
                                    @Html.TextBoxFor(t => t.search.timeEnd, new { @class = "input-sm form-control", @type = "text", @id = "timeEnd", @value = DateTime.Now })

                                </div>
                            </div>

                            <div class="col-xs-2">
                                <label class="control-label">校区:</label>
                            </div>
                             <div class="col-sm-4">
                                     @Html.DropDownListFor(t => t.search.ComCode,Model.search.ComCodeIL, new { @class = "form-control input-sm chosen-select", @style = "width:100%;height:100%;", @tabindex = "4 "})
                                 </div>

                        </div>




                        <div class="form-group">

                            <div class="col-sm-12 project-actions">
                                <button type="submit" class="btn btn-w-m btn-primary btn-sm">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>

                            </div>
                        </div>
                       }
                            <!-- 数据列表 -->
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>校区名称</th>
                                        <th>报名日期</th>
                                        <th>学员姓名</th>
                                        <th>学员电话</th>
                                        <th>报名班级</th>
                                        <th>班级编号</th>
                                        <th>报名课时</th>
                                        <th>消耗课时</th>
                                        <th>报名费用</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <!-- 循环数据 -->
                                <tbody>

                                    @if (Model != null && Model.EnrollManagelist.Count() > 0)
                            {
                                foreach (var m in Model.EnrollManagelist)
                                {
                                    <tr>
                                        <td>@m.CompName</td>
                                        <td>@m.CreateTime</td>
                                        <td>@m.Name</td>
                                        <td>@m.BindPhone</td>
                                        <td>@m.ClassName</td>
                                        <td>@m.ClassID</td>
                                        <td>@m.ClassHour</td>
                                        <td>@m.UsedHour</td>
                                        <td>@m.Paid</td>
                                        <td><a href="javascript:apply('@Newtonsoft.Json.JsonConvert.SerializeObject(m)')" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i> 申请退款</a></td>

                                    </tr>
                                }
                            }
                            else
                            {
                                        <tr>
                                            <td colspan="10" style="text-align: center; color: red;">未查询到数据,请更换查询条件试试!</td>
                                        </tr>
                            }
                                </tbody>

                            </table>
                            @if (Model != null && Model.EnrollManagelist.TotalPageCount > 0)
                    {
                                <div class="row">
                                    <div class="dataTables_info col-sm-6">每页显示 @Model.search.PageSize 条，共<span>@Model.EnrollManagelist.TotalItemCount</span>条数据</div>
                                    <div class="col-sm-6">

                                        @Html.Pager(Model.EnrollManagelist, new PagerOptions(), "", new RouteValueDictionary {
                                   { "pageindex",  Model.search.CurrentPage },
                                   { "pagesize", ViewBag.PageSize }
                               }, null)
                                    </div>

                                </div>
                    }
                        </div>
                    </div>
                </div>

            </div>
        </div>

                        @*弹出层，申请退款*@
                        <div class="ibox float-e-margins" id="refund" style="display:none">
                            <div class="ibox-content">
                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">学员姓名：</label>
                                        <div class="col-sm-8">
                                            <input type="text" placeholder="学员姓名" class="form-control" id="applyname" disabled="disabled">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">联系电话：</label>
                                        <div class="col-sm-8">
                                            <input type="text" placeholder="联系电话" class="form-control" id="applyphone" disabled="disabled">
                                        </div>
                                    </div>

                                      <div class="form-group">
                                        <label class="col-sm-3 control-label">校区名称：</label>
                                        <div class="col-sm-8">
                                            <input type="text" placeholder="校区名称" class="form-control" id="CompName" disabled="disabled">
                                        </div>
                                    </div>
                                            <div class="form-group">
                                        <label class="col-sm-3 control-label">收款单据号：</label>
                                        <div class="col-sm-8">
                                            <input type="text" placeholder="收款单据号" class="form-control" id="ReceiptNum">
                                        </div>
                                    </div>
                                            <div class="form-group">
                                        <label class="col-sm-3 control-label">开户行：</label>
                                        <div class="col-sm-8">
                                            <input type="text" placeholder="开户行" class="form-control" id="DepositBank">
                                        </div>
                                    </div>
                                            <div class="form-group">
                                        <label class="col-sm-3 control-label">账号：</label>
                                        <div class="col-sm-8">
                                            <input type="text" placeholder="账号" class="form-control" id="AccountNumber">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">申请退款金额：</label>
                                        <div class="col-sm-8">
                                            <input type="text" placeholder="申请退款金额" class="form-control" id="ApplyPrice">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-3 control-label">备注：</label>
                                        <div class="col-sm-8">
                                            <textarea placeholder="备注" class="form-control" id="ApplyRemark"></textarea>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <script type="text/javascript">
                            //点击申请退款按钮
                            function apply(data) {
                                cleanData("refund");
                                var obj = JSON.parse(data);
                                if (obj.UsedHour >= obj.ClassHour) {
                                    layer.msg("课程已完成不允许退款！");
                                    return false;
                                }
                                $("#applyname").val(obj.Name);
                                $("#applyphone").val(obj.BindPhone);
                                $("#CompName").val(obj.CompName);
                                layer.open({
                                    type: 1,
                                    title: "<h3 class='ibox-title'>申请退款</h3>",
                                    area: ['680px', '560px'],
                                    content: $('#refund'),
                                    btn: ['保存', '取消'],
                                    yes: function () {
                                        save(obj);
                                    },
                                    cancel: function (index) {
                                        layer.close(index);
                                    }
                                });
                            }



                            function save(Enroll) {
                                var obj = new Object;
                           
                                obj.ReceiptNum = $("#ReceiptNum").val().trim();
                                if (!obj.ReceiptNum) {
                                    layer.msg("请输入收款单据号！");
                                    return false;
                                }
                                obj.DepositBank = $("#DepositBank").val().trim();
                                if (!obj.DepositBank) {
                                    layer.msg("请输入开户行！");
                                    return false;
                                }
                                obj.AccountNumber = $("#AccountNumber").val().trim();
                                if (!obj.AccountNumber) {
                                    layer.msg("请输入账号！");
                                    return false;
                                }
                                obj.ApplyPrice = $("#ApplyPrice").val().trim();
                                if (!obj.ApplyPrice) {
                                    layer.msg("请输入申请退款金额！");
                                    return false;
                                }

                                obj.ApplyRemark = $("#ApplyRemark").val().trim();//赋值必须和数据库字段对应
                                obj.StudentID = Enroll.StudentID;
                                obj.EnrollID = Enroll.ID;
                                obj.StateID = 1;
                               
                             
                                var action = '@Url.Action("SaveEnrollManageList", "Enroll")'; 
                                            $.post(action, {
                                                "data": JSON.stringify(obj)//序列化对象
                                            }, function (json) {
                                                if (json.status == 200) {//成功

                                                    layer.msg(json.msg);//弹出服务器返回的消息
                                                    setTimeout(function () {//操作
                                                        layer.closeAll();//关闭所有层
                                                        window.location.reload(); //刷新
                                                    }, 3000);
                                                }
                                            }, 'json');
                                        }



                        </script>
