@using DataProvider.Models
@using DataProvider.Paging
@{
    ViewBag.Title = "市场资源";
}
@model EnrollListViewModel
@section styles{
    <style type="text/css">
        select.input-sm {
            padding: 2px 10px;
        }
    </style>
}
<link href="~/Scripts/assets/css/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <!-- 数据显示区 -->
                <div class="ibox-content">
                    <!-- 功能操作区 -->
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal form-horizontal" }))
                    {
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">学生姓名：</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(t => t.search.ApName, new { @class = "input-sm form-control", @type = "text", @placeholder = "请输入姓名" })
                            </div>
                            <label class="col-sm-2 control-label">联系电话：</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(t => t.search.ApTel, new { @class = "input-sm form-control", @type = "text", @placeholder = "请输入联系电话" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-4">
                                <div class="btn-group">
                                    <button class="btn btn-primary btn-sm" type="button" onclick="javascript:modify();"><i class="fa fa-plus-square"></i> 新增</button>
                                </div>
                            </div>
                            <div class="col-sm-8 project-actions">
                                <button type="submit" id="submit" class="btn btn-w-m btn-primary btn-sm">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                            </div>
                        </div>
                    }
                    <!-- 数据列表 -->
                    <table class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>联系人</th>
                                <th>联系电话</th>
                                <th>状态</th>
                                <th>是否会员</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <!-- 循环数据 -->
                        <tbody>
                            @if (Model != null && Model.AppointmentList.Count() > 0)
                            {
                                foreach (var m in Model.AppointmentList)
                                {
                                    <tr>
                                        <td>@m.ApName</td>
                                        <td>@m.APLinkMan</td>
                                        <td>@m.ApTel</td>
                                        <td>@m.StateName</td>
                                        <td>@m.IsJoin</td>
                                        <td>@m.APRemark</td>
                                        <td>
                                            <a href="javascript:follow('@m.ID')" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i> 跟进</a>
                                            <a href="javascript:shiting('@m.ID')" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i> 试听</a>
                                            <a href="javascript:jiaru(1)" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i> 加入</a>
                                            <a href="javascript:baoming('@m.ID')" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i> 报名</a>
                                            <a href="javascript:piaoju()" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i> 票据</a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="8" style="text-align:center; color:red;">未查询到数据,请更换查询条件试试!</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                    @if (Model != null && Model.AppointmentList.TotalPageCount > 0)
                    {
                        <div class="row">
                            <div class="dataTables_info col-sm-6">每页显示 @Model.search.PageSize 条，共<span>@Model.AppointmentList.TotalItemCount</span>条数据</div>
                            <div class="col-sm-6">

                                @Html.Pager(Model.AppointmentList, new PagerOptions(), "", new RouteValueDictionary {
                                   { "pageindex",  Model.search.CurrentPage },
                                   { "pagesize", ViewBag.PageSize }
                               }, null)
                            </div>

                        </div>
                    }
                </div>
            </div>
        </div>

    </div>
</div>

@*弹出层，新增报名*@
<div class="ibox float-e-margins" id="buttoninfo" style="display:none">
    <div class="ibox-content">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">学员姓名：</label>
                <div class="col-sm-8">
                    <input type="text" placeholder="学员姓名" class="form-control" id="ApName">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">联系电话：</label>
                <div class="col-sm-8">
                    <input type="text" placeholder="联系电话" class="form-control" id="ApTel">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">联系人：</label>
                <div class="col-sm-8">
                    <input type="text" placeholder="联系人" class="form-control" id="APLinkMan">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">年级：</label>
                <div class="col-sm-8">
                    <input type="text" placeholder="年级" class="form-control" id="APGrade">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea placeholder="备注" class="form-control" id="APRemark"></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
@*弹出层，跟进*@
<div class="ibox float-e-margins" id="follow" style="margin:0px; display:none">
    <div class="ibox-content">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-3 control-label">跟进方式：</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(t => t.FollowRecordForADD.FollowTypeID, Model.FollowTypeIL, new { @class = "chosen-select form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">意向分类：</label>
                <div class="col-sm-8">
                    @Html.DropDownListFor(t => t.FollowRecordForADD.IntenID, Model.IntentTypeIL, new { @class = "chosen-select form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea placeholder="备注" class="form-control" id="FollowRecordForADD_Remark"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-12">跟进记录：</label>
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered dataTables-example" id="followlist"></table>
                </div>
            </div>
        </form>
    </div>
</div>
@*弹出层，试听*@
<div class="ibox float-e-margins" id="shiting" style="margin:0px; display:none">
    <div class="ibox-content">
        <form class=" form-inline">
            <div class="form-group">
                <label>课程名称：</label>
                <input type="text" class="form-control input-sm" id="CourseName">
            </div>
            <div class="form-group form-horizontal">
                <label class="col-sm-3 control-label">开班时间;</label>
                <div class="input-daterange input-group col-sm-9" id="datepicker">
                    <input type="text" class="input-sm form-control" name="start" value="2014-11-11" id="StartTime_start">
                    <span class="input-group-addon">到</span>
                    <input type="text" class="input-sm form-control" name="end" value="2014-11-17" id="StartTime_end">
                </div>
            </div>
            <div class="form-group">
                <div class="project-actions">
                    <button type="button" class="btn btn-w-m btn-primary btn-sm" onclick="QueryClass()">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                </div>
            </div>
            <div class="m-t-md">
                <!-- m=marging ,t=top ,md=20px -->
                <div class="">
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="classes"></table>

                </div>
            </div>
        </form>
    </div>
</div>
@*弹出层，报名*@
<div class="ibox float-e-margins" id="baoming" style="margin:0px; display:none">
    <div class="ibox-content">
        <form class=" form-inline">
            <div class="form-group">
                <label>课程名称：</label>
                <input type="text" class="form-control input-sm" id="CourseName2">
            </div>
            <div class="form-group form-horizontal">
                <label class="col-sm-3 control-label">开班时间:</label>
                <div class="input-daterange input-group col-sm-9" id="datepicker">
                    <input type="text" class="input-sm form-control" name="start" value="" id="StartTime_start2">
                    <span class="input-group-addon">到</span>
                    <input type="text" class="input-sm form-control" name="end" value="" id="StartTime_end2">
                </div>
            </div>
            <div class="form-group">
                <div class="project-actions">
                    <button type="button" class="btn btn-w-m btn-primary btn-sm" id="QueryClass2">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                </div>
            </div>
            <div class="m-t-md">
                <!-- m=marging ,t=top ,md=20px -->
                <div class="">
                    <table class="table table-striped table-bordered table-hover dataTables-example" id="classes2"></table>

                </div>
            </div>
        </form>
    </div>
</div>
@*弹出层，加入*@
<div class="ibox float-e-margins" id="jiaru" style="display:none">
    <div class="ibox-content">
        <form class="form-horizontal">
            <div class="form-group ">
                <label class="col-xs-3 control-label">姓名：</label>
                <div class="col-xs-8">
                    <input type="text" placeholder="姓名" class="form-control input-sm" id="BTN_Name">
                </div>
            </div>


            <div class="form-group  ">
                <label class="col-xs-3 control-label">性别：</label>

                <div class="col-xs-4">
                    <div class="radio i-checks">
                        <label class="">
                            <div class="iradio_square-green" style="position: relative;">
                                <input type="radio" value="option1" name="a" style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                            </div> <i></i> 男
                        </label>
                    </div>
                </div>


                <div class="col-xs-4">
                    <div class="radio i-checks">
                        <label class="">
                            <div class="iradio_square-green" style="position: relative;">
                                <input type="radio" checked="" value="option2" name="a" style="position: absolute; opacity: 0;">
                                <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins>
                            </div> <i></i> 女
                        </label>
                    </div>
                </div>
            </div>



            <div class="form-group  ">
                <label class="col-xs-3 control-label">出生年月日：</label>
                <div class="col-xs-8">
                    <div class="DateS input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control input-sm" value="2014-11-11">
                    </div>

                </div>
            </div>

            <div class="form-group ">
                <label class="col-xs-3 control-label">父亲姓名：</label>
                <div class="col-xs-8">
                    <input type="text" placeholder="父亲姓名" class="form-control input-sm" id="BTN_OrderIndex">
                </div>
            </div>
            <div class="form-group ">
                <label class="col-xs-3 control-label">父亲联系方式：</label>
                <div class="col-xs-8">
                    <input type="text" placeholder="父亲联系方式" class="form-control input-sm" id="BTN_OrderIndex">
                </div>
            </div>
            <div class="form-group ">
                <label class="col-xs-3 control-label">母亲姓名：</label>
                <div class="col-xs-8">
                    <input type="text" placeholder="母亲姓名" class="form-control input-sm" id="BTN_OrderIndex">
                </div>
            </div>

            <div class="form-group ">
                <label class="col-xs-3 control-label">母亲联系方式：</label>
                <div class="col-xs-8">
                    <input type="text" placeholder="母亲联系方式" class="form-control input-sm" id="BTN_OrderIndex">
                </div>
            </div>
            <div class="form-group ">
                <label class="col-xs-3 control-label">家庭地址：</label>
                <div class="col-xs-8">
                    <input type="number" placeholder="家庭地址" class="form-control input-sm" id="BTN_OrderIndex">
                </div>
            </div>
            <div class="form-group ">
                <label class="col-xs-3 control-label">E-mail/QQ/微信：</label>
                <div class="col-xs-8">
                    <input type="text" placeholder="E-mail/QQ/微信" class="form-control input-sm" id="BTN_OrderIndex">
                </div>
            </div>

            <div class="form-group ">
                <label class="col-sm-3 control-label">状态：</label>
                <div class="checkbox i-checks col-sm-8">
                    <label>
                        <input type="checkbox" value="" id="BTN_IsSuspended"> <i></i> 广告
                        <input type="checkbox" value="" id="BTN_IsSuspended"> <i></i> 宣传单页
                        <input type="checkbox" value="" id="BTN_IsSuspended"> <i></i> 网络
                        <input type="checkbox" value="" id="BTN_IsSuspended"> <i></i> 试听
                        <input type="checkbox" value="" id="BTN_IsSuspended"> <i></i> 他人介绍
                        <input type="checkbox" value="" id="BTN_IsSuspended"> <i></i> 其它
                    </label>
                </div>
            </div>


            <div class="form-group ">
                <label class="col-xs-3 control-label">备注：</label>
                <div class="col-xs-8">


                    <textarea class="form-control input-sm" placeholder="备注"> </textarea>
                </div>
            </div>

        </form>
    </div>
</div>

@*用bootstrap-table需要引入*@
<script src="~/Scripts/assets/js/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="~/Scripts/assets/js/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript">
    var _apid = '';//预约单ID
    var _classtype = ""//班级查询类型，1试听，2正式
    var _discounttype = 0;//优惠类型，下拉框选择改变是会变
    var _dicountnum = 0;//优惠额度值，下拉框选择改变时会变
    //判断页面是否有回车操作
    window.document.onkeydown = function (e) {
        e = e || window.event;
        if (e.keyCode == 13 || e.keyCode == 108) {
            document.getElementById('frmQuery').submit();
        }
    }
    //初始化bootstrapTable,不能放在follow方法内，不然非常消耗内存，而且会多次进入后台
    $('#followlist').bootstrapTable({
        method: 'POST',
        dataType: 'json',
        contentType: "application/x-www-form-urlencoded",
        cache: false,
        striped: true,                              //是否显示行间隔色
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        url: '',
        showColumns: false,
        pagination: true,
        uniqueId: "id",                     //每一行的唯一标识，一般为主键列
        columns: [
        {
            field: '',
            title: '序号',
            formatter: function (value, row, index) {
                return index + 1;
            }
        },
        {
            field: 'ID',
            title: 'ID号',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'Remark',
            title: '备注',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'FollowTime',
            title: '跟进时间',
            align: 'center',
            valign: 'middle',
            formatter: function (value, row, index) {//用于格式化数据
                return ChangeDateFormat(value);//调用模板页的通用方法格式化时间
            }
        }]
    });
    //#region 注册试听事件

    window.operateEvents = {
        'click .RoleOfA': function (e, value, row, index) {
            $.post('@Url.Action("AddST", "Enroll")', {
                "apid": _apid,//序列化对象
                "classid": row.ID
            }, function (json) {
                if (json.status = 200) {//成功

                    layer.msg(json.msg);//弹出服务器返回的消息
                    setTimeout(function () {//操作
                        layer.closeAll();//关闭所有层
                        window.location.reload(); //刷新
                    }, 3000);
                }
            }, 'json');

        }
    };
    //#endregion

    //#region 试听列表
    $('#classes').bootstrapTable({
        method: 'POST',
        dataType: 'json',
        contentType: "application/x-www-form-urlencoded",
        cache: false,
        striped: true,                              //是否显示行间隔色
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        url: '@Url.Content("~/Enroll/STClassList")',
        showColumns: false,
        pagination: false,
        queryParams: queryParams,
        columns: [
        {
            field: 'ID',
            title: 'ID号',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'ClassName',
            title: '班级名称',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'CourseName',
            title: '课程',
            align: 'center',
            valign: 'middle'
        }, {
            field: 'StartTime',
            title: '上课时间',
            align: 'center',
            valign: 'middle',
            formatter: function (value, row, index) {//用于格式化数据
                return ChangeDateFormat(value);//调用模板页的通用方法格式化时间
            }
        }, {
            field: 'TimePeriod',
            title: '时段',
            align: 'center',
            valign: 'middle'
        }, {
            field: 'Enroll',
            title: '报名数',
            align: 'center',
            valign: 'middle'
        }, {
            field: 'operate',
            title: '操作',
            align: 'center',
            events: operateEvents,
            formatter: operateFormatter
        }]
    });
    //#endregion
    //查询参数
    function queryParams(params) {

        return {

            pageSize: 1,

            pageIndex: 1,

            CourseName: $("#CourseName").val().trim(),
            StartTime_start: $("#StartTime_start").val().trim(),
            StartTime_end: $("#StartTime_end").val().trim(),
            ClassType: _classtype
        };

    }
    //按钮事件
    function operateFormatter(value, row, index) {
        return [
            '<button type="button" class="RoleOfA btn btn-default  btn-sm"">安排</button>'
        ].join('');
    }
    //-------------报名----------------------------------------------------------
    //报名列表
    $('#classes2').bootstrapTable({
        method: 'POST',
        dataType: 'json',
        contentType: "application/x-www-form-urlencoded",
        cache: false,
        striped: true,                              //是否显示行间隔色
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        url: '@Url.Content("~/Enroll/STClassList")',
        showColumns: false,
        pagination: false,
        queryParams: queryParams,
        onLoadSuccess: function (data) {
            loadDiscountCom();//执行完查询列表后再执行加载下拉框，不然又时候取不到优惠，因为异步
        },
        columns: [
        {
            field: 'ID',
            title: 'ID号',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'ClassName',
            title: '班级名称',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'CourseName',
            title: '课程',
            align: 'center',
            valign: 'middle'
        }, {
            field: 'StartTime',
            title: '上课时间',
            align: 'center',
            valign: 'middle',
            formatter: function (value, row, index) {//用于格式化数据
                return ChangeDateFormat(value);//调用模板页的通用方法格式化时间
            }
        }, {
            field: 'Enroll',
            title: '报名/总数',
            align: 'center',
            valign: 'middle'
        }, {
            field: 'Lesson',
            title: '已上/总课时',
            align: 'center',
            valign: 'middle'
        }, {
            field: 'Enroll',
            title: '报名课时',
            align: 'center',
            valign: 'middle',
            formatter:editCol 
        }, {
            field: 'Enroll',
            title: '选择优惠',
            align: 'center',
            valign: 'middle',
            formatter: dropdownCol
        }, {
            field: '',
            title: '优惠金额',
            align: 'center',
            valign: 'middle',
            formatter: editDiscount
        }, {
            field: 'Expenses',
            title: '费用',
            align: 'center',
            valign: 'middle'
        }, {
            field: 'Expenses',
            title: '本次付款',
            align: 'center',
            valign: 'middle'
        }, {
            title: '操作',
            align: 'center',
            formatter: checkCol
        }]
    });
    //查询参数
    function queryParams(params) {

        return {

            pageSize: 1,

            pageIndex: 1,

            CourseName: $("#CourseName2").val().trim(),
            StartTime_start: $("#StartTime_start2").val().trim(),
            StartTime_end: $("#StartTime_end2").val().trim()
        };

    }

    //加载优惠下拉框信息
    function loadDiscountCom()
    {
        //重新激活选择框
        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green',
        });
        //改版课时的时候触发，重新计算应付金额
        $("#txtks").change(function () {
            var ks = $(this).val()//填写的课时
            var och = $(this).parent().parent().find("td").eq(9).text()//原来的费用
            var oks = $(this).parent().parent().find("td").eq(5).text()//总课时数
            alert($(this).parent().find("td").eq(10).text());
        })
        var dataHTML = '';
        $.post('@Url.Action("GetDiscountItems", "Enroll")', { }, function (json) {
            //注册优惠下拉框change事件，选择自定义时允许自己输入优惠金额,要放在回调的这个地方，不然无效，
            $("#discountSelect").change(function () {
                $("#discountSelect option:selected").each(function () {
                    alert($(this).data("did"))
                });
               
                if ($("#discountSelect").val() == -1) {//如果选择的是自定义优惠
                    $("#discountText").removeAttr("disabled");
                    
                }
                else {
                    
                    $("#discountText").attr("disabled", "false");
                }
            });
            for (var i = 0; i < json.length; i++) {
                $("#discountSelect").append("<option data-did = '11' value='" + json[i].ID + "'>" + json[i].DiscountName + "</option>");
            }
        }, 'json').error(function () { alter("ERRPR!") });
    }
    //根据填写的课时和优惠计算实际报名费用
    function compute(oldcharge,oldlessons,reallessons,discounttype,number) {
        var realcharge = 0;
        if (discounttype = 1)//折扣：报名课时/总课时 * 原来的报名费用*折扣率
        {
            realcharge = reallessons / oldlessons * oldcharge * number
        }
        else {//减免方式
            realcharge = reallessons / oldlessons * oldcharge - number
        }
        return realcharge;
    }
    //编辑项，填写报名课时
    function editCol(value, row, index, key) {
        return [
             '<input type="text" value="" class="input-sm form-control" style="width:50px" id="txtks">'
        ].join('');
        
    } 
    //编辑项，当自定义优惠时允许修改优惠金额
    function editDiscount(value, row, index, key) {
        return [
             '<input id="discountText" type="text" value="" class="input-sm form-control" style="width:50px" disabled="disabled">'
        ].join('');

    } editDiscount
    //编辑项，下拉选择优惠
    function dropdownCol(value, row, index, key) {
        return [
           '<select data-placeholder="选择优惠..." id = "discountSelect" class="form-control input-sm" style="width:100%;" ><option value="">请选择</option></select>'
        ].join('');
    }
    //选择报名列表
    function checkCol(value, row, index) {
        return [
            '<div class="checkbox i-checks" name="chkDiscount" data-did="' + row.ID + '"><label><input type="checkbox" value=""> <i></i> </label></div>'
        ]
    }
    //结束报名-------------------------------------------------------------------------------------------------
    //保存或者新增预约
    function save(id) {
        var obj = new Object;
        if (id) {//有ID就是修改模式，没有就是新增模式
            obj.ID = id;
        }
        obj.ApName = $("#ApName").val().trim();
        if (!obj.ApName) {
            layer.msg("请输入姓名！");
            return false;
        }
        obj.ApName = $("#ApName").val().trim();//赋值必须和数据库字段对应
        obj.ApTel = $("#ApTel").val().trim();
        obj.APLinkMan = $("#APLinkMan").val().trim();
        obj.APGrade = $("#APGrade").val().trim();
        obj.APRemark = $("#APRemark").val().trim();
        var action = '';
        if (id) {//有ID就是修改模式，没有就是新增模式
            action = '@Url.Action("SaveAppointment", "Enroll")';
        }
        else { action = '@Url.Action("AddAppointment", "Enroll")' }
        $.post(action, {
            "data": JSON.stringify(obj)//序列化对象
        }, function (json) {
            if (json.status = 200) {//成功

                layer.msg(json.msg);//弹出服务器返回的消息
                setTimeout(function () {//操作
                    layer.closeAll();//关闭所有层
                    window.location.reload(); //刷新
                }, 3000);
            }
        }, 'json');
    }


    //点击列表的编辑按钮，编辑操作
    function modify(id) {
        cleanData("buttoninfo");
        layer.open({
            type: 1,
            title: "<h3 class='ibox-title'>编辑按钮</h3>",
            area: ['680px', '400px'],
            content: $('#buttoninfo'),
            btn: ['保存', '取消'],
            yes: function () {
                save(id);
            },
            cancel: function (index) {
                layer.close(index);
            }
        });

        if (id) {//提供存着ID就是修改，则加载数据，不然打开空页面
            var loadindex = layer.load();
            loaddetail(id, loadindex)
        }
    }
    //跟进
    function follow(apid) {
        cleanData("follow");//清空数据
        layer.open({
            type: 1,
            title: "<h3 class='ibox-title'>用户跟进</h3>",
            area: ['680px', '400px'],
            content: $('#follow'),
            btn: ['保存', '取消'],
            yes: function () {
                addFollow(apid);//新增跟进记录
            },
            cancel: function (index) {
                layer.close(index);
            }
        });
        //配置下拉控件chosen
        $(".chosen-select").chosen({
            no_results_text: "未找到此选项!",
            search_contains: true,
            width: '100%'
        });
        //获取跟进记录
        var url = '@Url.Content("~/Enroll/GetFollowListByAPID")' + '?apid=' + apid;
        //重新刷新
        $('#followlist').bootstrapTable('refresh', { url: url });
    }
    //新增跟进记录
    function addFollow(APID) {
        var obj = new Object;

        if (!APID) {
            layer.msg("请选择预约单！");
            return false;
        }
        obj.APID = APID;//预约单号
        obj.FollowTypeID = $("#FollowRecordForADD_FollowTypeID").val().trim();//跟进方式,要找到jquery元素的ID，通过浏览器右键查看
        obj.IntenID = $("#FollowRecordForADD_IntenID").val().trim();//意向
        obj.Remark = $("#FollowRecordForADD_Remark").val().trim();//备注，这个没用mvc表达构建器，元素ID是自己写的
        var action = '@Url.Action("AddFollow", "Enroll")';

        $.post(action, {
            "data": JSON.stringify(obj)//序列化对象
        }, function (json) {
            if (json.status = 200) {//成功

                layer.msg(json.msg);//弹出服务器返回的消息
                setTimeout(function () {//操作
                    layer.closeAll();//关闭所有层
                    window.location.reload(); //刷新
                }, 3000);
            }
        }, 'json');
    }


    //试听
    function shiting(APID) {
        cleanData("shiting");//清空数据
        layer.open({
            type: 1,
            title: "<h3 class='ibox-title'>安排试听</h3>",
            area: ['1000px', '600px'],
            content: $('#shiting'),
            btn: ['保存', '取消'],
            yes: function () {

            },
            cancel: function (index) {
                layer.close(index);
            }
        });
        _apid = APID;//获取全局预约ID
        //重新刷新
        $('#classes').bootstrapTable('refresh');
    }
    //点试听查询
    function QueryClass() {
        //重新刷新
        $('#classes').bootstrapTable('refresh');
    }
    //报名
    function baoming(id) {
        // cleanData("baoming");//清空数据
        layer.open({
            type: 1,
            title: "<h3 class='ibox-title'>报名</h3>",
            area: ['1000px', '600px'],
            content: $('#baoming'),
            btn: ['结算', '取消'],
            yes: function () {
                var did = "";   //选中班级List，用分行分开

                $("#classes2 tbody input[type='checkbox']:checked").each(function (ai, am) {
                    did += $(this).parent().parent().parent().data("did")+ '=' + $(this).parent().parent().parent().parent().parent().find("td").eq(10).text() + ';';//取到班级列表和实际报名费用格式
                });
                alert(did)

            },
            cancel: function (index) {
                layer.close(index);
            }
        });
    }
    //点击报名弹出窗口的查询按钮事件
    $("#QueryClass2").click(function () {
        //重新刷新
        $('#classes2').bootstrapTable('refresh');
    })
    //加入
    function jiaru(id) {
        // cleanData("baoming");//清空数据
        layer.open({
            type: 1,
            title: "<h3 class='ibox-title'>成为正式学员</h3>",
            area: ['800px', '600px'],
            content: $('#jiaru'),
            btn: ['成为正式学员', '取消'],
            yes: function () {

            },
            cancel: function (index) {
                layer.close(index);
            }
        });
    }
    //票据
    function piaoju(id) {
        //iframe窗
        parent.layer.open({
            type: 2,
            title: "票据打印",
            closeBtn: false,
            shade: [0],
            area: ['800px', '600px'],
            //maxmin: true, //开启最大化最小化按钮
            content: ['@Url.Action("InvoicePrint", "Enroll")'], //iframe的url，no代表不显示滚动条
            cancel: function () {
                layer.closeAll();
            }
        });


    }

</script>