@using DataProvider.Models
@using DataProvider.Paging
@{
    ViewBag.Title = "报名管理";
}
@model EnrollManageListModel
@section styles{
    <style type="text/css">
    </style>
}
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <!-- 数据显示区 -->
                <div class="ibox-content">
                    <!-- 功能操作区 -->
                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal form-horizontal" }))
                    {
                        <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">学生姓名/学号：</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(t => t.search.Name, new { @class = "form-control input-sm", @type = "text", @placeholder = "请输入学生姓名/学号", @id = "Name" })
                            </div>
                            <label class="col-sm-2 control-label">联系电话：</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(t => t.search.BindPhone, new { @class = "form-control input-sm", @type = "text", @placeholder = "请输入联系电话", @id = "BindPhone" })
                            </div>
                        </div>
                        
                        
                             <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">校区：</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.DropDownListFor(t => t.search.ComCode, Model.search.ComCodeIL, new { @class = "input-sm form-control", @style = "width:100%;height:100%;", @tabindex = "4 " })
                            </div>
                            <label class="col-sm-2 control-label">报名日期：</label>
                            <div class="col-sm-3">
                                <div class="input-daterange input-group" id="datepicker">
                                    @Html.TextBoxFor(t => t.search.timeStart, new { @class = "input-sm form-control", @type = "text", @value = DateTime.Now })
                                    <span class="input-group-addon">到</span>
                                    @Html.TextBoxFor(t => t.search.timeEnd, new { @class = "input-sm form-control", @type = "text", @value = DateTime.Now })
                                </div>
                            </div>
                        </div>
                        

                             <div class="form-group">
                            <div class="col-sm-2">
                                <label class="control-label">剩余课时大于：</label>
                            </div>

                            <div class="col-sm-3">
                                @Html.TextBoxFor(t => t.search.Large, new { @class = "form-control input-sm", @type = "text", @placeholder = "请输入剩余课时", @id = "Large" })
                            </div>
                            <label class="col-sm-2 control-label">剩余课时小于：</label>
                            <div class="col-sm-3">
                                @Html.TextBoxFor(t => t.search.Small, new { @class = "form-control input-sm", @type = "text", @placeholder = "请输入剩余课时", @id = "Small" })
                            </div>
                        </div>

                  
                        
                        
                        <div class="form-group">

                            <div class="col-sm-12 project-actions">
                                <button type="submit" class="btn btn-w-m btn-primary btn-sm">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                                   <button type="button" id="Export" onclick="ExportToExcel()" class="btn btn-w-m btn-primary btn-sm">导&nbsp;&nbsp;&nbsp;&nbsp;出</button>
                            </div>
                        </div>
                    }
                            <!-- 数据列表 -->
                            <table class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                    <tr>
                                        <th>校区名称</th>
                                        <th>报名日期</th>
                                        <th>学员姓名</th>
                                        <th>学号</th>
                                        <th>学员电话</th>
                                        <th>报名班级</th>
                                        <th>班级编号</th>
                                        <th>报名课时</th>
                                        <th>消耗课时</th>
                                        <th>剩余课时</th>
                                        <th>报名费用</th>
                                        <th>状态</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <!-- 循环数据 -->
                                <tbody>

                                    @if (Model != null && Model.EnrollManagelist.Count() > 0)
                                    {
                                        foreach (var m in Model.EnrollManagelist)
                                        {
                                    <tr>
                                        <td>@m.CompName</td>
                                        <td>@m.CreateTime.ToString("yy-MM-dd")</td>
                                        <td>@m.Name</td>
                                        <td>@m.StudentID</td>
                                        <td>@m.BindPhone</td>
                                        <td>@m.ClassName</td>
                                        <td>@m.ClassID</td>
                                        <td>@Convert.ToInt32(m.ClassHour)</td>
                                        <td>@Convert.ToInt32(m.UsedHour)</td>
                                        <td><a href="javascript:ShowHoursLog('@m.ID')">@Convert.ToInt32(m.ClassHour - m.UsedHour)</a></td>
                                        <td>@m.Paid</td>
                                        <td>@m.StateName</td>    
                                         <td>
                                        @if (m.UsedHour < m.ClassHour)
                                        {
                                        

                                            <a href="@Url.Action("RefundInfo", "Enroll", new { id = @m.ID, typeID = 1 })" target="view_window" class="btn btn-primary btn-xs " type="button" ><i class="fa fa-edit"></i>申请退款</a>
                                             <a href="javascript:tiaozheng('@m.ID','@m.Name','@(m.ClassHour - m.UsedHour)');" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i>调整</a>
                                         
                                        }
                                        else
                                        {
                                          <a href="javascript:tiaozheng('@m.ID','@m.Name','@(m.ClassHour - m.UsedHour)');" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i>调整</a> 
                                        }


                                          @if (@m.StateID == 5)
                                          {
                                                 <a href="javascript:Recovery('@m.ID');" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i> 恢复</a> 
                                          }

                                             @if (@m.StateID == 0 || @m.StateID == 1 || @m.StateID == 3)
                                             {
                                             <a href="javascript:Frozen('@m.ID');" class="btn btn-primary btn-xs" type="button"><i class="fa fa-edit"></i> 冻结</a>
                                             } 
                                             </td> 



                                    </tr>
                                        } 
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="13" style="text-align: center; color: red;">未查询到数据,请更换查询条件试试!</td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                            @if (Model != null && Model.EnrollManagelist.TotalPageCount > 0)
                            {
                                <div class="row">
                                    <div class="dataTables_info col-sm-6">每页显示 @Model.search.PageSize 条，共<span>@Model.EnrollManagelist.TotalItemCount</span>条数据</div>
                                    <div class="col-sm-6">

                                        @Html.Pager(Model.EnrollManagelist, new PagerOptions(), "", new RouteValueDictionary {
                                           { "pageindex",  Model.search.CurrentPage },
                                           { "pagesize", ViewBag.PageSize },
                                           { "Name",  Model.search.Name },
                                           { "BindPhone",  Model.search.BindPhone },
                                           { "ComCode",  Model.search.ComCode },
                                           { "timeStart",  Model.search.timeStart },
                                           { "timeEnd",  Model.search.timeEnd }
                                       }, null)
                                    </div>

                                </div>
                            }
                        </div>
                    </div>
                </div>

            </div>
        </div>

@*弹出层，调整课时*@
<div class="ibox float-e-margins" id="adjust" style="display:none">
    <div class="ibox-content">
        <form class="form-horizontal">
            <div class="form-group ">
                <label class="col-xs-3 control-label">姓名：</label>
                <div class="col-xs-8">
                    <input type="text" placeholder="姓名" class="form-control input-sm" disabled="disabled" id="StudentName">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">原课时数：</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control input-sm" disabled="disabled" id="LeftHour">
                </div>
            </div>

            <div class="form-group ">
                <label class="col-xs-3 control-label">本次调整数：</label>
                <div class="col-xs-8">
                    <input type="number" class="form-control input-sm" placeholder="正数增加课时，负数减少课时，只能输入整数！" id="AdjustNum">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">调整后课时：</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control input-sm" disabled="disabled" id="LeftHourAfter">
                </div>
            </div>
        </form>
    </div>
</div>                 
@*弹出层，课时明细*@
<div class="ibox float-e-margins" id="HoursLogModel" style="margin:0px; display:none">
    <div class="ibox-content">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-12">课时明细：</label>
                <div class="col-sm-12">
                    <table class="table table-striped table-bordered dataTables-example" id="HoursLog"></table>
                </div>
            </div>
        </form>
    </div>
</div>                     


<script src="~/Scripts/base.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#AdjustNum').bind('input', function () {//给文本框绑定input事件

            var LeftHourAfter = parseInt($('#LeftHour').val()) + parseInt($('#AdjustNum').val())
            $('#LeftHourAfter').val(LeftHourAfter)

        })
    })
    //初始化bootstrapTable,不能放在follow方法内，不然非常消耗内存，而且会多次进入后台
    $('#HoursLog').bootstrapTable({
        method: 'POST',
        dataType: 'json',
        contentType: "application/x-www-form-urlencoded",
        cache: false,
        striped: true,                              //是否显示行间隔色
        sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
        url: '',
        showColumns: false,
        pagination: true,
        uniqueId: "id",                     //每一行的唯一标识，一般为主键列
        columns: [
        {
            field: '',
            title: '序号',
            formatter: function (value, row, index) {
                return index + 1;
            }
        },
        {
            field: 'TypeName',
            title: '课时类型',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'BeforeHours',
            title: '转之前',
            align: 'center',
            valign: 'middle',
            sortable: true
        }, {
            field: 'AfterHours',
            title: '转之后',
            align: 'center',
            valign: 'middle'
        },
        {
            field: 'CreateTime',
            title: '发生日期',
            align: 'center',
            valign: 'middle',
            formatter: function (value, row, index) {//用于格式化数据
                return ChangeDateFormat(value);//调用模板页的通用方法格式化时间
            }
        }

        ]
    });
    //调整课时
    function tiaozheng(ENID, StudentName, LeftHour) {
        $('#StudentName').val(StudentName);
        $('#LeftHour').val(LeftHour);

        layer.open({
            type: 1,
            title: "<h3 class=''>调整课时</h3>",
            area: ['600px', '370px'],
            content: $('#adjust'),
            btn: ['调整', '取消'],
            yes: function () {
                SaveAdjust(ENID)
            },
            cancel: function (index) {
                layer.close(index);
            }
        });

    }

    //保存剩余课时调整
    function SaveAdjust(ENID) {
        var action = '@Url.Action("AdjustLeftHour", "Enroll")';
        $.post(action, {
            "ENID": ENID,
            "AdjustNum": $('#AdjustNum').val()
        }, function (json) {
            if (json.status == 200) {//成功

                layer.msg(json.msg);//弹出服务器返回的消息
                setTimeout(function () {//操作
                    layer.closeAll();//关闭所有层
                    window.location.reload(); //刷新
                }, 3000);
            }
        }, 'json');
    }

    //查看课时调整
    function ShowHoursLog(enid) {
        layer.open({
            type: 1,
            title: "<h3 class=''>课时消耗记录</h3>",
            area: ['680px', '400px'],
            content: $('#HoursLogModel'),
            btn: ['关闭'],
            cancel: function (index) {
                layer.closeAll();
            }
        });

        //获取课时记录
        var url = '@Url.Content("~/Enroll/GetHoursLogByENID")' + '?enid=' + enid;
        //重新刷新
        $('#HoursLog').bootstrapTable('refresh', { url: url });
    }






    function Recovery(ID) {//恢复
        
          
        layer.confirm('您确定恢复么？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
           


        var obj = new Object;
        obj.ID = ID;
        obj.StateID = 1;
        var action = '@Url.Action("Recovery", "Enroll")'
        $.post(action, {
            "data": JSON.stringify(obj)//序列化对象
        }, function (json) {
            if (json.status == 200) {//成功

                layer.msg(json.msg);//弹出服务器返回的消息
                setTimeout(function () {//操作
                    layer.closeAll();//关闭所有层
                    window.location.reload(); //刷新
                }, 3000);
            }
            else {
                layer.msg(json.msg);//弹出服务器返回的消息
            }
        }, 'json');
        });

    }
    //点击恢复，状态变成 未读，按钮名称变成冻结。点击冻结，状态变成冻结，按钮名称变成恢复
    //学员状态ID,字典表3,1,未读，2在读，3冻结，4结束

    function Frozen(ID) {//冻结
       

        layer.confirm('您确定冻结么？', {
            btn: ['确定', '取消'] //按钮
        }, function () {

        var obj = new Object;
        obj.ID = ID;
        obj.StateID = 5;
        var action = '@Url.Action("Frozen", "Enroll")'
        $.post(action, {
            "data": JSON.stringify(obj)//序列化对象
        }, function (json) {
            if (json.status == 200) {//成功

                layer.msg(json.msg);//弹出服务器返回的消息
                setTimeout(function () {//操作
                    layer.closeAll();//关闭所有层
                    window.location.reload(); //刷新
                }, 3000);
            }
            else {
                layer.msg(json.msg);//弹出服务器返回的消息
            }
        }, 'json');
    });


    }




    function ExportToExcel() {

        var btn = $("#Export");//找按钮
        btn.button("loading");// 替换成loading
        var Name = $("#Name").val();
        var BindPhone = $("#BindPhone").val();
        var ComCode = $("#search_ComCode").val();
        var timeStart = $("#search_timeStart").val();
        var timeEnd = $("#search_timeEnd").val();
        var Large = $("#Large").val();
        var Small = $("#Small").val();

    

        window.location = SiteRoot + "Enroll/ExportToExcel?Name=" + Name + "&BindPhone=" + BindPhone + "&timeStart=" + timeStart + "&timeEnd=" + timeEnd + "&ComCode=" + ComCode + "&Large=" + Large + "&Small=" + Small;
        alert("正在导出，请耐心等待一段时间，请点击确定继续......")
        btn.button("reset");//重置初始状态
    }



</script>