@using DataProvider.Models

@{
    ViewBag.Title = "票据打印";
}
@model AppointmentPrintModel
<div class="animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content p-xl">
                <div class="row">
                    <div class="col-sm-6">
                        <address>
                            <strong>@Model.bill.Title</strong><br>
                            @Model.bill.Address<br>
                            <abbr title="Phone">总机：</abbr> @Model.bill.Tel1
                        </address>
                    </div>
                    <div class="col-sm-6 text-right">
                        <h4>单据编号：</h4>
                        <h4 class="text-navy">@Model.apid</h4>

                    </div>
                </div>
                <div class="table-responsive m-t">
                    <table class="table invoice-table">
                        <thead>
                            <tr>
                                <th>班级</th>
                                <th>课时</th>
                                <th>金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null && Model.EnrollList.Count() > 0)
                            {
                                foreach (var m in Model.EnrollList)
                                {
                                    <tr>
                                        <td>
                                            <div>
                                                <strong>@m.ClassName</strong>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <strong>@m.ClassHour</strong>
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <strong>&yen;@m.Paid</strong>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    @*<td colspan="8" style="text-align:center; color:red;">未查询到数据,请更换查询条件试试!</td>*@
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /table-responsive -->
                <table class="table invoice-total">
                    @{
                        string allcount = Model.EnrollList.Sum(t => t.Paid).ToString();
                        string dx =  new DataProvider.MoneyConvertChinese().MoneyToChinese(allcount);
                    
                    <tbody>
                        <tr>
                            <td>
                                <strong>总价：</strong>
                            </td>
                            <td>&yen;@allcount</td>
                        </tr>
                        <tr>
                            <td>
                                <strong>大写金额：</strong>
                            </td>
                            <td>@dx</td>
                        </tr>
                    </tbody>
                        }
                </table>
                <div class="text-right">
                    <button class="btn btn-primary" id="Print"><i class="fa fa-print"></i> 打印票据</button>
                    <button class="btn btn-primary" id="closePiaoju"><i class="fa fa-close"></i> 关闭页面</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    //关闭iframe票据弹出窗口
    $('#closePiaoju').click(function () {
        var index = parent.layer.getFrameIndex(window.name)

        parent.layer.close(index);
    });

    $('#Print ').click(function () {
        $('#Print').hide();
        $('#closePiaoju').hide();
        window.print();
        $('#Print').show();
        $('#closePiaoju').show();
        //if (document.execCommand("print")) {

        //    alert("cccc");

        //}
        //else {
        //    alert("aaa");
        //}

    });

   
  
     
</script>