@using DataProvider.Models
@using DataProvider.Paging
@{
    ViewBag.Title = "报名审核详细信息";
    Layout = "~/Views/Shared/_Layoutwx.cshtml";//设置模板文件
}

@model EnrollAuditInfoViewModel


<div class="ibox float-e-margins w640" id="cc">
    @if (Model != null)
    {
         foreach (var m in Model.EnrollAuditInfoList)
            {
        <div class="ibox-title">
            <a href="@Url.Action("EnrollAuditList")" class="pull-left m-r-md">
                <i class="fa fa-chevron-left"></i>
            </a>
            <h5> 学员：@m.ApName</h5>
        </div>
        <div class="ibox-content">
            <form class="form-horizontal">
                <div class="form-group ">
                    <label class="col-xs-4 control-label">学员姓名：</label>
                    <label class="col-xs-8 form-control-static">@m.ApName </label>
                </div>
                <div class="form-group ">
                    <label class="col-xs-4 control-label">班级：</label>
                    <label class="col-xs-8 form-control-static">@m.ClassName </label>
                </div>
                <div class="form-group ">
                    <label class="col-xs-4 control-label">报名课时：</label>
                    <label class="col-xs-8 form-control-static">@m.ClassHour</label>
                </div>
                <div class="form-group ">
                    <label class="col-xs-4 control-label">原费用：</label>
                    <label class="col-xs-8 form-control-static">@m.Expenses</label>
                </div>
                <div class="form-group ">
                    <label class="col-xs-4 control-label">申请优惠：</label>
                    <label class="col-xs-8 form-control-static">@m.DiscountPrice</label>
                </div>
                <div class="form-group ">
                    <label class="col-xs-4 control-label">本次付款：</label>
                    <label class="col-xs-8 form-control-static">@m.Price</label>
                </div>
                <div class="form-group ">
                    <label class="col-xs-4 control-label">备注：</label>
                    <label class="col-xs-8 form-control-static">@m.Remark</label>
                </div>
            </form>
            <div class="" style="text-align:center">
                <button type="button" class="btn btn-w-m btn-primary btn-sm" onclick="Audited()">审核通过</button>
                <button type="button" class="btn btn-w-m btn-primary btn-sm" onclick="AuditNotThrough()">审核不通过</button>

            </div>
        </div>
    }
    

        
    }


</div>




<script type="text/javascript">
 
    function GetQueryString(name)

    {

        var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");

        var r = window.location.search.substr(1).match(reg);

        if(r!=null)return  unescape(r[2]); return null;

    } 




    function Audited() {
        layer.confirm('您确定要进行此审核么?', { icon: 3, title: '提示' }, function (index) {
            
        var APID;
          APID = GetQueryString("APID");
          var action = '@Url.Action("Audited", "WeiXin")'
            var loadindex = layer.load();//启动遮罩放在重复提交
        $.post(action, {
            "APID": APID//序列化对象
        }, function (json) {
            if (json.status == 200) {//成功
                layer.close(index);
                layer.close(loadindex);//关闭遮罩
                layer.open({
                    content: json.msg,
                    time: 2000 //2秒后自动关闭 
                });
                //弹出服务器返回的消息
                setTimeout(function () {//操作
                   // layer.closeAll();//关闭所有层
                  //  window.location.reload(); //刷新
                    window.location.href = "EnrollAuditList";
                }, 3000);
            }
            else {
                layer.close(loadindex);//关闭遮罩
                layer.open({
                    content: json.msg,
                    time: 2 //2秒后自动关闭 
                });//弹出服务器返回的消息
              
            }
        }, 'json').error(function () {
            layer.close(loadindex);//关闭遮罩
            layer.open({
                content: "系统错误！",
                time: 2000 //2秒后自动关闭 
            });
        });
        });
    }
    

    function AuditNotThrough() {

        var APID;
        APID = GetQueryString("APID");

        var action = '@Url.Action("AuditNotThrough", "WeiXin")'
        $.post(action, {
            "APID": APID//序列化对象
        }, function (json) {
            if (json.status == 200) {//成功

                layer.open({
                    content: json.msg,
                    time: 2 //2秒后自动关闭 
                });//弹出服务器返回的消息
                setTimeout(function () {//操作
                   // layer.closeAll();//关闭所有层
                    //window.location.reload(); //刷新
                    window.location.href = "EnrollAuditList";

                }, 3000);
            }
            else {
                layer.open({
                    content: json.msg,
                    time: 2 //2秒后自动关闭 
                });//弹出服务器返回的消息

            }
        }, 'json');

    }

 
    
  

</script>


 