@using DataProvider.Models
@using DataProvider.Paging
@{
    ViewBag.Title = "我的课程表";

}
 @model WX_FSConnectionlistModel
 
<div class="ibox float-e-margins w640" >
    <div class="ibox-title">
        
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal" }))
                   {
         <div class="form-group">
                 
                            <div class="col-sm-2">
                                <label class="control-label">开始时间:</label>
                            </div>


                            <div class="col-sm-3">
                                <div class="input-daterange input-group" id="datepicker">
                                    @Html.TextBoxFor(t => t.search.timeStart, new { @class = "input-sm form-control", @type = "text", @value = DateTime.Now }) 
                                </div>
                            </div>


                            <div class="col-sm-2">
                                <label class="control-label">结束时间:</label>
                            </div>


                            <div class="col-sm-3">
                                <div class="input-daterange input-group" id="datepicker1">
                                    @Html.TextBoxFor(t => t.search.timeEnd, new { @class = "input-sm form-control", @type = "text", @value = DateTime.Now })
                                

                                </div>
                            </div>
             <button type="submit" class="btn btn-w-m btn-primary btn-sm">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
              
                        </div>
         }


    </div>
    <div id="mydiv"></div>
    <div class="ibox-content">
        <table class="table">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>星期</th>
                    <th>姓名</th>
                    <th>课程</th>
                    <th>操作</th>
                </tr>
            </thead>
           
                     <tbody>
                    @if (Model != null && Model.FSConnectionlist.Count() > 0)
                    {
                        foreach (var m in Model.FSConnectionlist)
                        {
                            <tr>
                                <td>@m.ClassDate</td>
                                <td>@m.weekday</td>
                                <td>@m.Name</td>
                                <td>@m.CourseName</td>
                                       
          <td><a href="@Url.Action("FSConnectionInfo", "Weixin", new { id = @m.ID })" class=" btn-block"><i class="fa fa-arrow-circle-right fa-2x"></i></a></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4" style="text-align:center; color:red;">未查询到数据,请更换查询条件试试!</td>
                        </tr>
                    }
                </tbody>
        </table>
    </div> 
</div>


<script type="text/javascript" >
    $(function () {

        var now = new Date();
        var nowTime = now.getTime();
        var day = now.getDay();
        var oneDayLong = 24 * 60 * 60 * 1000;


        var MondayTime = new Date(nowTime - (day - 1) * oneDayLong).Format("yyyy-MM-dd");
        var SundayTime = new Date(nowTime + (7 - day) * oneDayLong).Format("yyyy-MM-dd");

        var MondayTimeText = document.getElementById('MondayTime_Text');
        MondayTimeText.innerText ="本周："+ MondayTime +"~";
        var SundayTimeText = document.getElementById('SundayTime_Text');
        SundayTimeText.innerText = SundayTime;
    })


     

 

</script>