@using DataProvider.Models
@using DataProvider.Paging
@{
    ViewBag.Title = "我的课程表";
    Layout = "~/Views/Shared/_Layoutwx.cshtml";//设置模板文件
}
 @model WX_FSConnectionlistModel
 
<div class="ibox float-e-margins w640">
    <div class="ibox-title">

        <h2>
            <a href="@Url.Action("Index")" class="pull-left m-r-md">
                <i class="fa fa-chevron-left"></i>
            </a>我的课程表
        </h2>
    </div>
    <div class="ibox-title">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "frmQuery", @class = "form-horizontal" }))
        {
            <div class="form-group">
 
                <div class="col-xs-3">
                    <div class="input-daterange input-group" id="datepicker">
              @*          @Html.TextBoxFor(t => t.search.timeStart, new { @class = "input-sm form-control" , @value = DateTime.Now })  *@
                          <input type="text"   id="first" value="1"/>
                    <input type="text"  name="search.timeStart"  id="MondayTime_Text"/>
                    </div>
                </div>


                <div class="col-xs-2">
                     <input type="text" name="search.timeEnd"  id="SundayTime_Text"/>
                 
                </div>


                <div class="col-xs-3">
                  @*  <div class="input-daterange input-group" id="datepicker1">
                        @Html.TextBoxFor(t => t.search.timeEnd, new { @class = "input-sm form-control", @type = "text", @value = DateTime.Now })


                    </div>*@
                </div>
            </div>@*
            <div class="form-group">
                <div class="col-sm-10 project-actions">
                    <button type="submit" class="btn btn-w-m btn-primary btn-sm">查&nbsp;&nbsp;&nbsp;&nbsp;询</button>
                </div>
            </div>*@
                
    
            
    <div class="ibox-title">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit" id="This_Week" onclick="This_Week">本&nbsp;&nbsp;&nbsp;&nbsp;周</button>
            <button class="btn btn-primary" type="submit" id="Next_Week" onclick="Next_Week"  >下一周</button>
        </div>
    </div>
            
        }


    </div>

@*    <div class="ibox-title">
        <div class="btn-group">
            <button class="btn btn-primary" type="submit" type="button">本&nbsp;&nbsp;&nbsp;&nbsp;周</button>
            <button class="btn btn-primary" type="submit" type="button">下一周</button>
        </div>
    </div>*@

    <div id="mydiv"></div>
    <div class="ibox-content">
        <table class="table">
            <thead>
                <tr>
                    <th>日期</th>
                    <th>星期</th>
                    <th>姓名</th>
                    <th>课程</th>
                    <th>操作</th>
                </tr>
            </thead>

            <tbody>
                @if (Model != null && Model.FSConnectionlist.Count() > 0)
                {
                    foreach (var m in Model.FSConnectionlist)
                    {
                        <tr>
                            <td>@DateTime.Parse(@m.ClassDate + "").ToString("yyyy-MM-dd")</td>
                            <td>@m.weekday</td>
                            <td>@m.Name</td>
                            <td>@m.CourseName</td>

                            <td><a href="@Url.Action("FSConnectionInfo", "Weixin", new { id = @m.ID })" class=" btn-block"><i class="fa fa-arrow-circle-right fa-2x"></i></a></td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="4" style="text-align:center; color:red;">未查询到数据,请更换查询条件试试!</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>





<script type="text/javascript" >
    //$(function () {
    //    var first = document.getElementById('first');
    //    if (first.value == 1) {
    //        first.value = 2;
    //    var now = new Date();
    //    var nowTime = now.getTime();
    //    var day = now.getDay();
    //    var oneDayLong = 24 * 60 * 60 * 1000;
    //   // var date = new Date(now.getTime() - 7 * 24 * 3600 * 1000).Format("yyyy-MM-dd");

    //    var MondayTime = new Date(nowTime - (day - 1) * oneDayLong);
    //    var SundayTime = new Date(nowTime + (7 - day) * oneDayLong);

    //    var MondayTimeText = document.getElementById('MondayTime_Text');
       

    //    MondayTimeText.value = new Date(MondayTime.setDate(0)).Format("yyyy-MM-dd");
       
    //    var SundayTimeText = document.getElementById('SundayTime_Text');
    //    SundayTimeText.value = new Date(SundayTime.setDate(6)).Format("yyyy-MM-dd");

    //    //var now = new Date();
    //    //var nowTime = now.getTime();
    //    //var day = now.getDay();
    //    //var oneDayTime = 24 * 60 * 60 * 1000;

    //    ////显示周一
    //    //var MondayTime = nowTime - (day - 1) * oneDayTime;

    //    ////显示周日

    //    //var SundayTime = nowTime + (7 - day) * oneDayTime;


    //    ////初始化日期时间
    //    //var monday = new Date(MondayTime).Format("yyyy-MM-dd");

    //    //var sunday = new Date(SundayTime).Format("yyyy-MM-dd");

    //    }

    //})

    $('#This_Week').click(function cc() {

        alert(ccc);
    })
    function This_Week() {

        var now = new Date();
        var nowTime = now.getTime();
        var day = now.getDay();
        var oneDayLong = 24 * 60 * 60 * 1000;
        // var date = new Date(now.getTime() - 7 * 24 * 3600 * 1000).Format("yyyy-MM-dd");

        var MondayTime = new Date(nowTime - (day - 1) * oneDayLong);
        var SundayTime = new Date(nowTime + (7 - day) * oneDayLong);

        var MondayTimeText = document.getElementById('MondayTime_Text');
       

        MondayTimeText.value = new Date(MondayTime.setDate(0)).Format("yyyy-MM-dd");
       
        var SundayTimeText = document.getElementById('SundayTime_Text');
        SundayTimeText.value = new Date(SundayTime.setDate(6)).Format("yyyy-MM-dd");
    }
    
    function Next_Week() {
        var MondayTimeText = document.getElementById('MondayTime_Text');
        var SundayTimeText = document.getElementById('SundayTime_Text');

        MondayTimeText.value = new Date(MondayTimeText.value).setDate(7).Format("yyyy-MM-dd");
        SundayTimeText.value = new Date(SundayTimeText.value).setDate(7).Format("yyyy-MM-dd");

    }

</script>