@using DataProvider.Models
@{
    ViewBag.Title = "我的工作台";
    Layout = "~/Views/Shared/_Layoutwx.cshtml";//设置模板文件
}
@model  WXIndexViewModel
@section style{
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Scripts/Mobile/content/css/index.css")" />
<link href="~/Scripts/assets/css/style.css" rel="stylesheet" />
<style>
    .widget a {
        color: #ffffff;
    }
    .col-xs-6 {
        padding-right:5px;
        padding-left:5px;
    }
    .widget {
        margin-top:0px;
    }
</style>
}

    <div class="main_box">

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
@if (Model != null && Model.MenuList.Count > 0)
{
    foreach (var m in Model.MenuList)
    {
        <div class="col-xs-6">
            <div class="@m.FT_Class">
                <a href="@m.logurl">
                    <div class="m-b-md">
                        <i class="@m.IconPic"></i>
                        <h2 class="font-bold">@m.Name</h2>
                        <small>@m.FT_Desc</small>
                    </div>
                </a>
            </div>
        </div>
    }
}


            </div>
        </div>
    </div>


@section script {
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/resize.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/Mobile/content/js/index.js")"></script>
    <script type="text/javascript">
        function clearHistory() {
            $.getJSON('@Url.Action("searchhistory", "install")', { optype: "clear" }, function () { $(".history").remove(); });
        }
    </script>
}